<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288563710089-3p6gkbcj2grmikolkpm0mcfgi7200tu2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288563710089-3p6gkbcj2grmikolkpm0mcfgi7200tu2</string>
	<key>API_KEY</key>
	<string>AIzaSyCblzXI5gYOE3cZaG-ttVf79JjNJJbUmOE</string>
	<key>GCM_SENDER_ID</key>
	<string>288563710089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginui</string>
	<key>PROJECT_ID</key>
	<string>auth-tutorial-c3468</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-tutorial-c3468.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288563710089:ios:f40684e1ef20466719de58</string>
</dict>
</plist>